/*======RESET DE BASE ======*/
{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:Arial,Helvetica,sans-serif;
} 
/*======STYLE GLOBAL======*/
body{background-color:#f4f6f8;
color:black;
line-height:1.6;
} 
/*======EN-TETE======*/
header{   
 background-color:#2c3e5050;
	 color:black;
     text-align:center;
     padding:30PX 20PX;
}	 
header h1{ 
   font-size:32px;
     margin-bottom:10px;
	 } 
header h2{
	font-size:18px;
          font-whight:normal;
} 
header img{
	width:150px;
	height:auto;
	border-radius:50%;
	margin-top:15px;
} 
 /*======MENU DE NAVIGATION======*/
nav{
	background-color:#34495e;
} 
nav ul{
	list-style:none;
	display:flext;
	justify-content:justify;	
} 
nav ul li{margin:15px;
}
nav ul li{
	color:black;
	text-decoration:none;
	font-weight:bold;
} 
nav ul li a:hover{
	color:#ffd700;
}
 /*======CONTENU PRINCIPAL======*/
section{
	padding:30px;
	max-width:1000px;
	margin:auto;
} 
article{
	background-color:Gray;
	padding:20px;
	margin-bottom:25px;
	border-radius:5px;
	box-shodow:02 10px rgba(0,0,0,0.1);
} 
article h2{
	color:#34495e;
	margin-bottom:10px;
} 
article p{
	margin-bottom:10px;
} 
article ul{
	margin-left:20px;
} 
article ul li{
	margin-bottom:5px;
}

 /*======ASIDE(LOISIRS)======*/ 
aside{
	background-color:#2c3e50;
	padding:20px;
	margin:20px auto;
	max-width:1000px;
	border-left:5px solid #34495e;
} 
aside h2{
	margin-bottom:10px;
}
/*======SECTION CONTACT======*/  
section h2{
	color:#2c3e50;
} 
section p{
	margin-bottom:8px;
} 
/*======FOOTER======*/ 
footer{
	background-color:#2e3c50;
	color:black;
	text-align:center;
	padding:15px;
	margin-top:30px;
	font-size:14px;
} 
